<!DOCTYPE html>
<html>

<head>
    <title>Offer Letter</title>
</head>

<body>

<h2>Job Offer Letter</h2>

<p>Date: {{ date }}</p>

<p>Dear {{ name }},</p>

<p>
We are pleased to offer you the position of
<b>{{ position }}</b>
at <b>TechNova</b>.
</p>

<p>
Your employment details are as follows:
</p>

<ul>
    <li>Salary: {{ salary }}</li>
    <li>Department: {{ department }}</li>
    <li>Manager: {{ manager }}</li>
    <li>Start Date: {{ start_date }}</li>
    <li>Working Hours: {{ working_hours }}</li>
</ul>

<p>
Congratulations and welcome to the team!
</p>

</body>

</html>